-
    const data = {
        is_home: true,
        is_sports: false,
        url: "{{SPORTSBOOK_URL_MSPORTS}}",
        icon: "msports.svg",
        img_pc: "cashbackinuefa_home",
        img_sp: "mobile_cashbackinuefa_home",
        content_piece: "Villareal vs Juventus Introduction",
        is_more_info: true,
        is_play_now: false,
        data_content : [
            {
                language : "EN",
                is_required : true,
                data_language : [
                    {
                        data_img : false,
                        current_lang : "EN",
                        pc_title : [
                            "SHARPEST E-SPORTS",
                            "SHARPEST E-SPORTS2",],
                        pc_subtitle : [
                            "BEST ODDS & HIGHEST LIMIT",
                            "BEST ODDS & HIGHEST LIMIT2",
                        ],
                        sp_title : [
                            "SHARPEST",
                            "E-SPORTS",
                        ],
                        sp_subtitle : [
                            "BEST ODDS &",
                            "HIGHEST LIMIT",
                        ],
                    },
                ]
            },
            {
                language : "MYR_CN",
                is_required : true,
                data_language : [
                    {
                        data_img : false,
                        current_lang : "MYR_CN",
                        pc_title : [
                            "顶级电竞新上线",
                        ],
                        pc_subtitle : [
                            "最佳赔率和超高额度",
                        ],
                        sp_title : [
                            " 顶级电竞新上线",
                        ],
                        sp_subtitle : [
                            "最佳赔率和超高额度",
                        ],
                    }
                ]
            },
            {
                language : "ID",
                is_required : true,
                data_language : [
                    {
                        data_img : false,
                        current_lang : "ID",
                        pc_title : [
                            "E-SPORTS TERKINI",
                        ],
                        pc_subtitle : [
                            "DENGAN ODDS TERTINGGI",
                        ],
                        sp_title : [
                            "E-SPORTS TERKINI",
                        ],
                        sp_subtitle : [
                            "DENGAN ODDS TERTINGGI",
                        ],
                    }
                ]
            },
            {
                language : "TH",
                is_required : true,
                data_language : [
                    {
                        data_img : false,
                        current_lang : "TH",
                        pc_title : [
                            "คมชัดทุกช็อตกับ E-SPORTS",
                        ],
                        pc_subtitle : [
                            "ค่าน้ำ ดีที่สุดทุกการเดิมพัน",
                        ],
                        sp_title : [
                            "คมชัดกับ E-SPORTS",
                        ],
                        sp_subtitle : [
                            " ดีที่สุดทุกการเดิมพัน",
                        ],
                    }
                ]
            },
            {
                language : "VN",
                is_required : true,
                data_language : [
                    {
                        data_img : false,
                        current_lang : "VN",
                        pc_title : [
                            "E-SPORTS ĐỈNH NHẤT",
                        ],
                        pc_subtitle : [
                            "ODD & GIỚI HẠN CAO NGẤT",
                        ],
                        sp_title : [
                            "E-SPORTS",
                            "ĐỈNH NHẤT",
                        ],
                        sp_subtitle : [
                            " ODD & GIỚI HẠN CAO NGẤT",
                        ],
                    }
                ]
            },
            {
                language : "CN",
                is_required : true,
                data_language : [
                    {
                        data_img : false,
                        current_lang : "CN",
                        pc_title : [
                            "顶级电竞新上线",
                        ],
                        pc_subtitle : [
                            "最佳赔率和超高额度",
                        ],
                        sp_title : [
                            " 顶级电竞新上线",
                        ],
                        sp_subtitle : [
                            "最佳赔率和超高额度",
                        ],
                    }
                ]
            },
        ]
    }